.form_queixar_mesma_empresa {
    padding: 0px 0px 0px 64px;
}

.descricao-queixa {
    border: 1px solid #505457 !important;
}

.assunto-queixa {
    border: 1px solid #505457 !important;
    color: white !important;
}