.sub-comentario {
  background-color: white;
  margin: 0;
}

.col-sub-comentario {
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}

.text-subComentario {
  color: black;
  font-size: 18px;
}

.text-principal-comentario {
  color: #daa316;
  font-weight: bold;
}
