.mymainHeroArtg {
  position: relative; /* Garante que os filhos possam ser posicionados relativamente a este elemento */
  background-image: url("../../img/lei_trabalho.jfif"); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
  background-size: cover; /* A imagem de fundo cobre todo o elemento */
  background-position: center; /* A imagem é centralizada dentro do elemento */
  filter: brightness(
    0.5
  ); /* Valor entre 0 e 1, onde 0 é totalmente escuro e 1 é o brilho normal */
}
.meuCoverArtg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-title-igtArtg {
  font-size: 40px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #daa316;
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
}
