.link-muted {
  color: #aaa;
}
.link-muted:hover {
  color: #1266f1;
}
.active > .page-link,
.page-link.active {
  background-color: #daa316;
  border-color: #daa316;
}
.page-link {
  color: #daa316;
}
